# 알람시계

list sequence의 인덱싱과 mutable한 성질을 이용

In [ ]:
hour = list(map(int, input().split())) # "0 24" --> hour = [0, 24]

if hour[1] < 45 :# hour[1] = minute이므로 45분이 기점이됨
  if hour[0] > 0: # hour[0] = hour인데, 0시가 기점이 됨
    hour[0] = hour[0] - 1
    hour[1] = 15 + hour[1]
  else :
    hour[0] = 23 # 시간이 0시이면 무조건 23시
    hour[1] = 15 + hour[1] 
else : # hour[1]이 45분을 넘을 때는 간단
  hour[1] = hour[1] - 45 # 

print(hour[0], hour[1])

# 애너그램 만들기

문제
----
두 영어 단어가 철자의 순서를 뒤바꾸어 같아질 수 있을 때, 그러한 두 단어를 서로 애너그램 관계에 있다고 한다. 예를 들면 occurs 라는 영어 단어와 succor 는 서로 애너그램 관계에 있는데, occurs의 각 문자들의 순서를 잘 바꾸면 succor이 되기 때문이다.

한 편, dared와 bread는 서로 애너그램 관계에 있지 않다. 하지만 dared에서 맨 앞의 d를 제거하고, bread에서 제일 앞의 b를 제거하면, ared와 read라는 서로 애너그램 관계에 있는 단어가 남게 된다.

두 개의 영어 단어가 주어졌을 때, 두 단어가 서로 애너그램 관계에 있도록 만들기 위해서 제거해야 하는 최소 개수의 문자 수를 구하는 프로그램을 작성하시오. 문자를 제거할 때에는 아무 위치에 있는 문자든지 제거할 수 있다.

입력
----
첫째 줄과 둘째 줄에 영어 단어가 소문자로 주어진다. 각각의 길이는 1,000자를 넘지 않으며, 적어도 한 글자로 이루어진 단어가 주어진다.

출력
----
첫째 줄에 답을 출력한다.

## 아스키코드 활용 

ord("a") = 97
...
ord("z") = 122

In [103]:
a = [0]*26
b = a[:]
ans = 0

for i in input():
    a[ord(i)-97] += 1
for i in input():
    b[ord(i)-97] += 1
for i in range(26):
    ans += abs(a[i]-b[i])
print(ans)

aabbcc
xxyybb
8

## 반복문 활용

In [102]:
x = input()
y = input()

result=0

for i in range(len(x)):
    for j in range(len(y)):
        if x[i]!=" " and x[i] == y[j]:
            z = x[i]
            x = x.replace(x[i], " ", 1)
            y = y.replace(y[j], " ", 1)
            break

for i in range(len(x)):
    if x[i]!=' ':
        result +=1

for i in range(len(y)):
    if y[i]!=' ':
        result +=1

print(result)

aabbcc
xxyybb
8

## List Comprehension 활용

오답

In [85]:
a = list(input())
b = list(input())
a1, b1 = a[:], b[:]

out1 = [x for x in a if not x in b1 or b1.remove(x)]
out2 = [x for x in a if not x in a1 or a1.remove(x)]
print(len(out1) + len(out2))

abbcc
caffd
3

## Lambda - filter 활용

오답

In [108]:
a = list(input())
b = list(input())

a1 = list(filter(lambda x: x in b, a))
b1 = list(filter(lambda x: x in a, b))

count = len(a) - len(a1) + len(b) - len(b1) + abs(len(a1) - len(b1))
print(count)

abred
brede
['a', 'b', 'r', 'e', 'd']
['b', 'r', 'e', 'd', 'e']
['b', 'r', 'e', 'd']
['b', 'r', 'e', 'd', 'e']
2

# 영화감독 숌

문제
----
666은 종말을 나타내는 숫자라고 한다. 따라서, 많은 블록버스터 영화에서는 666이 들어간 제목을 많이 사용한다. 영화감독 숌은 세상의 종말 이라는 시리즈 영화의 감독이다. 조지 루카스는 스타워즈를 만들 때, 스타워즈 1, 스타워즈 2, 스타워즈 3, 스타워즈 4, 스타워즈 5, 스타워즈 6과 같이 이름을 지었고, 피터 잭슨은 반지의 제왕을 만들 때, 반지의 제왕 1, 반지의 제왕 2, 반지의 제왕 3과 같이 영화 제목을 지었다.

하지만 숌은 자신이 조지 루카스와 피터 잭슨을 뛰어넘는다는 것을 보여주기 위해서 영화 제목을 좀 다르게 만들기로 했다.

종말의 숫자란 어떤 수에 6이 적어도 3개이상 연속으로 들어가는 수를 말한다. 제일 작은 종말의 숫자는 666이고, 그 다음으로 큰 수는 1666, 2666, 3666, .... 과 같다.

따라서, 숌은 첫 번째 영화의 제목은 세상의 종말 666, 두 번째 영화의 제목은 세상의 종말 1666 이렇게 이름을 지을 것이다. 일반화해서 생각하면, N번째 영화의 제목은 세상의 종말 (N번째로 작은 종말의 숫자) 와 같다.

숌이 만든 N번째 영화의 제목에 들어간 숫자를 출력하는 프로그램을 작성하시오. 숌은 이 시리즈를 항상 차례대로 만들고, 다른 영화는 만들지 않는다.

입력
----
첫째 줄에 숫자 N이 주어진다. N은 10,000보다 작거나 같은 자연수이다.

출력
----
첫째 줄에 N번째 영화의 제목에 들어간 수를 출력한다.

input N(N은 10000보다 작거나 같은 자연수)

1. 출력 숫자에는 최소 3개의 6이 연속으로 들어가야함 -> 연속되는 data 탐색
2. 1을 만족하는 숫자 중 N번째로 작은 숫자
3. 2를 만족하는 숫자를 출력

In [141]:
# 1 메모리 초과
N = int(input())

n = list(map(str, list(range(3000000))))

ans = [x for x in n if "666" in x]
print(int(ans[N-1]))

10000
2666799

In [192]:
# 2 메모리 해결

N = int(input())
n = 666
count = 0
while N != count:
  if "666" in str(n): # ... 166699
    count += 1 
    n += 1 # 667 668 ... 
  else:
    n += 1
    
print(n-1)

10000
2666799

In [194]:
# 3 유사 풀이
N = int(input())
n = 666
count = 0
while True:
  if "666" in str(n): # ... 166699
    count += 1
    if N == count:
      print(n) #
      break
    else:
      n += 1 # 667 668 ... 
  else:
    n += 1

500
166699