# Baekjoon Week1

## Bronze2 | 2605번: 줄 세우기

In [ ]:
# 2605

N = map(int, input())
nums = list(map(int, input().split()))

idx = 1   # 첫번째 학생=1
line = [idx]  # 첫번째 학생은 일단 처음으로

for num in (nums[1:]):   # 두번째 학생부터
  idx += 1  #두번째 학생=2, 세번째 학생=3, ...

  if num > 0:  # 번호가 0보다 크면 번호 크기만큼 앞으로 (>> 조건문 불필요)
    line.insert(idx-1-num, idx)    # 리스트 특정 위치에 값 추가: list.insert(위치, 값)
  else:      # 번호가 0이면 가장 마지막에
    line.append(idx)

print(' '.join(map(str, line)))

5
0 1 1 3 2
4 2 5 3 1

In [ ]:
# 2605 - 개선

N = int(input())
nums = list(map(int, input().split()))

line = []  # 학생들의 순서를 담을 리스트 생성

for i in range(N):  # 학생들의 수만큼 반복
  line.insert(i-nums[i], i+1)  # 각 학생들의 순서에서 뽑은 번호만큼 앞으로 이동

print(*line)  # 리스트 요소 한번에 출력 print(*list)

5
0 1 1 3 2
4 2 5 3 1

## Bronze2 | 2577번: 숫자의 개수

In [ ]:
A = int(input())
B = int(input())
C = int(input())

ABC = str(A*B*C)

for i in range(10):   # 0~9
  print(ABC.count(str(i)))  # 문자열에서 특정 문자 개수 세기: 문자열.count(문자)

150
266
427
3
1
0
2
0
0
0
2
0
0